<ion-content class="ion-padding register-content" [fullscreen]="true">
  <div class="register-wrapper">
    <div class="welcome-header">
      <img
        src="assets/logos/logo-white.png"
        alt="Logo del gimnasio"
        class="gym-logo"
      />
      <p class="welcome-text">Bienvenido a esta gran familia</p>
    </div>

    <ion-card class="register-card">
      <ion-card-content>
        <form [formGroup]="form">
          <div class="form-fields">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="isInvalid('email')">
                Ingresá un email válido.
              </ion-text>

              <ion-item>
                <ion-label position="floating">Repetir Email</ion-label>
                <ion-input
                  formControlName="repeatEmail"
                  type="email"
                ></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="form.hasError('emailsDontMatch')">
                Los emails no coinciden.
              </ion-text>

              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  formControlName="password"
                  type="password"
                ></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                *ngIf="form.get('password')?.hasError('passwordWeak')"
              >
                Debe tener una mayúscula y un número o símbolo.
              </ion-text>
              <ion-item>
                <ion-label position="floating">Repetir Contraseña</ion-label>
                <ion-input
                  formControlName="repeatPassword"
                  type="password"
                ></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                *ngIf="form.hasError('passwordsDontMatch')"
              >
                Las contraseñas no coinciden.
              </ion-text>
            </ion-list>
          </div>

          <ion-button expand="block" (click)="submit()">Registrarse</ion-button>

          <div class="divider"><span>O</span></div>

          <ion-button
            expand="block"
            color="light"
            (click)="registerWithGoogle()"
          >
            <img
              src="assets/logos/google-logo.svg"
              alt="Google"
              width="20"
              height="20"
              style="margin-right: 8px"
            />
            Registrarse con Google
          </ion-button>

          <div class="login-redirect">
            <span>¿Ya sos usuario?</span>
            <a (click)="goToLogin()">Inicia sesión</a>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
