ion-header {
  --background: transparent;

  ion-toolbar {
    --background: transparent;
  }

  ion-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}

.onboarding-content {
  --background: var(--ion-background-color);
}
