<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title>
      <ion-icon
        name="information-circle-outline"
        class="profile-icon"
      ></ion-icon>
      <span class="title">Información del Plan</span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      <ion-icon name="reader-outline" class="info-icon"></ion-icon>
      <span>aa</span>
    </p>
    <p>
      <ion-icon name="calendar-outline" class="info-icon"></ion-icon>
      <span>3</span>
    </p>
  </ion-card-content>
</ion-card>
