<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/cliente/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" href="/cliente/rutinas">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horarios" href="/cliente/horarios">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Horarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-plan" href="/cliente/mi-plan">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Mi Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/cliente/perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
