<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/cliente/incio">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" href="/cliente/rutinas">
      <ion-icon aria-hidden="true" name="barbell-outline"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="horarios" href="/cliente/horarios">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Horarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feedback" href="/cliente/feedback">
      <ion-icon aria-hidden="true" name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/cliente/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
