<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-day-selector
          (daySelected)="onDaySelected($event)"
        ></app-day-selector>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h2 class="schedule-title">Horarios Disponibles</h2>
        <div class="schedule-list">
          <app-schedule-card
            *ngFor="let schedule of schedulesForDay"
            [schedule]="schedule"
            [currentUserId]="currentUserId"
            (scheduleClicked)="onScheduleClicked($event)"
          ></app-schedule-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Modal de inscripción -->
  <ion-modal [isOpen]="showEnrollModal">
    <ng-template>
      <app-enroll-confirmation-modal
        [schedule]="selectedSchedule"
        (confirm)="onEnrollConfirmed()"
        (cancel)="onEnrollModalDismiss()"
      ></app-enroll-confirmation-modal>
    </ng-template>
  </ion-modal>

  <!-- Modal de desinscripción -->
  <ion-modal [isOpen]="showUnsubscribeModal">
    <ng-template>
      <app-unsubscribe-confirmation-modal
        [schedule]="selectedSchedule"
        (confirm)="onUnsubscribeConfirmed()"
        (cancel)="onUnsubscribeModalDismiss()"
      ></app-unsubscribe-confirmation-modal>
    </ng-template>
  </ion-modal>

  <!-- (Opcional) Alert para límite de inscripciones -->

  <ion-alert
    [isOpen]="showAlert"
    (ionAlertDidDismiss)="onAlertDismiss()"
    header="Límite de Inscripciones"
    message="{{ alertMessage }}"
    buttons="OK"
  >
  </ion-alert>
</ion-content>
