<app-header title="Sugerencias" [showBackButton]="false"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sugerencias</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="h-full flex flex-col justify-center items-center">
    <ion-textarea
      label="Escribe una sugerencia o queja"
      labelPlacement="floating"
      placeholder="Enter text"
      class="border-1 border-solid border-gray-300 rounded-md p-2"
    ></ion-textarea>
    <ion-button class="m-4">Enviar</ion-button>
  </div>
</ion-content>
