ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-icon {
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  font-size: 1em;
  font-weight: 400;
  color: #5a6268;
  margin-left: 4px;
}

