<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container" *ngIf="user$ | async as user">
    <app-profile-image-name-info
      [name]="'Federico Todaro'"
      [age]="29"
      [imageUrl]="'https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg'"
    >
    </app-profile-image-name-info>

    <app-profile-personal-info
      [email]="user.email"
      [phone]="user.userInfo.phone"
      [date]="formatDate(user.userInfo.createdAt)"
    >
    </app-profile-personal-info>

    <div *ngIf="plan$ | async as plan">
      <app-profile-plan-info
        [planName]="plan.name"
        [planDays]="plan.days"
        [planLevel]="plan.experienceLevel"
      ></app-profile-plan-info>
    </div>
  </div>
</ion-content>
