<ion-card class="routine-card">
  <ng-container *ngIf="routine; else noRoutine">
    <ion-card-header class="routine-header">
      <div class="routine-title-container">
        <ion-card-title class="routine-title">
          {{ routine.name }}
          <ion-icon name="barbell-outline" class="routine-icon"></ion-icon>
        </ion-card-title>
        <ion-card-subtitle class="routine-subtitle">
          {{ routine.category | uppercase }}
        </ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content class="routine-content">
      <p class="routine-description">
        {{ routine.description }}
      </p>
      <ion-list class="exercise-list">
        <ion-list-header class="exercise-list-header">
          <ion-label class="exercise-list-title">
            <ion-icon
              name="fitness-outline"
              class="exercise-list-icon"
            ></ion-icon>
            Ejercicios ({{ routine.exercises.length }})
          </ion-label>
        </ion-list-header>
        <div class="exercises-container">
          <ng-container *ngFor="let exercise of processedExercises">
            <app-exercise-item
              [exercise]="exercise"
              (exerciseClick)="onExerciseClick($event)"
            ></app-exercise-item>
          </ng-container>
        </div>
      </ion-list>
    </ion-card-content>
  </ng-container>
  <ng-template #noRoutine>
    <ion-card-header class="no-routine-header">
      <ion-card-title class="no-routine-title">
        <ion-icon name="calendar-clear-outline" class="rest-icon"></ion-icon>
        No hay rutina para hoy
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="no-routine-content">
      <p class="rest-text">
        <ion-icon name="bed-outline"></ion-icon>
        ¡Descansa! No hay rutina programada para hoy.
      </p>
    </ion-card-content>
  </ng-template>
</ion-card>
